<div nz-row class='main'>
  <div nz-col nzXs='24' nzSm='24' nzMd='24' nzLg='24' nzXl='24'>
      Your playlist is ready!
  </div>
</div>
<div nz-row>
  <div nz-col nzXs='24' nzSm='24' nzMd='24' nzLg='24' nzXl='24'>
      <div class="code">
          <h3>Use the next code to access the playlist. </h3>
          <nz-card style="margin-right:30%; margin-left:30%;">
             <h2 class="pcode">{{playlist_info.playlistCode}}</h2>
          </nz-card>
          
          <div class="share" style="padding: 24px; text-align: center; margin-left: 30px;">
            Share
            <div class="imagenIconos">
                <img src="assets/icons/fb.png">
                <img src="assets/icons/twitterIcon.png">
            </div>
          </div>
      </div>        
  </div>    
</div>