.main {
    background:#fff; 
    padding: 24px; 
    min-height: 100px;
    text-align: center;
    font-size: 80px;
    color: #39bfa3;

}
.info{
    background:#fff; 
    text-align: center;
    min-height: 280px;

}
.info button{
    width: 300px;
    height: 50px;
}

.info h1{
    color: #001529;
    padding-bottom: 5%;
}
@media only screen and (max-width: 950px) {
    .main{
        font-size: 55px;
    }
}
@media only screen and (max-width: 650px) {
    .main{
        font-size: 35px;
    }
}